<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
	<div class="container">
		<a class="navbar-brand" href="{WEB_ROOT}/">
			<svg viewBox="0 0 100 100">
				<title>{PROJECT}</title>
				<use xlink:href="{WEB_ROOT}/assets/img/sprite.svg#logo"></use>
			</svg>
		</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-collapse">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbar-collapse">
			{NAV}

			{NAV_RIGHT}
		</div>
	</div>
</nav>
