// Text utilities
.text-capitalize-first {
	display: inline-block;
	&:first-letter {
		text-transform: uppercase;
	}
}

// Modal
.modal-xl {
	width: auto !important;
	max-width: 100% !important;
	margin: 10px !important;
}

// Button
.btn-circle {
	width: 38px !important;
	height: 38px !important;
	border-radius: 50% !important;
	padding: 0 !important;
	line-height: 36px !important;

	svg {
		vertical-align: -0.125em !important;
	}
}