// @import "vendor/thomaspark/bootswatch/dist/flatly/variables";
@import "variables";
@import "vendor/twbs/bootstrap/scss/bootstrap";
// @import "vendor/thomaspark/bootswatch/dist/flatly/bootswatch";

@import "flash-message";
@import "social-buttons";
@import "utilities";
@import "toolbar";

// Logo
$logo-height: $nav-link-height;

body {
	padding-top: $logo-height + $navbar-padding-y * 2;
	overflow-x: hidden;
}

// Navbar
.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	svg {
		height: $logo-height;
	}
}

.navbar {
	// Avatar
	[data-bs-toggle="dropdown"] {
		img {
			width: 25px;
			height: 25px;
			vertical-align: bottom;
		}
	}
}

// Back to top button
#top-btn {
	position: fixed;
	right: 10px;
	bottom: -100px;
	transition: all ease-in-out 0.7s;
	z-index: 1050;
}